extends layout

block content
  h1= title
  p Sridevi Yandapalli #{title}
  br
  - var btnType = 'primary'
  - var btnSize = 'lg'
  button(type='button' class='btn btn-' + btnType + ' btn-' + btnSize) press me
